[submodule "vim/bundle/fsharp"]
	path = vim/bundle/fsharp
	url = git://github.com/kongo2002/fsharp-vim.git
[submodule "vim/bundle/colorschemes"]
	path = vim/bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
